.background1 {
  background-image: url("../img/me1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  background-color: #e9e7e8 !important;
}
.title {
  color: #4f0b42;
}
.titleMenu:hover {
  color: rgb(149, 4, 154) !important;
}
.titleMenu {
  color: #ffc6f4 !important;
}
.textcontent {
  color: #1e2c46;
}
.textcontent2 {
  color: #9e9e9e;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(47deg, rgba(0, 0, 0, 1) 0%, rgba(60, 38, 88, 1) 35%, rgba(253, 212, 232, 1) 100%);
}
body {
  /* background:#e1dfe0; */
  background-image: url("../img/bgweb.svg");
  background-size: cover;
  background-position: center;
}

.header1 {
  background: rgb(0, 0, 0);
  background: linear-gradient(47deg, rgba(0, 0, 0, 1) 0%, rgba(60, 38, 88, 1) 35%, rgba(253, 212, 232, 1) 100%);
}
.bg-about {
  background-image: url("../img/backgroundabout.jpg");
  /* background-color: #fefcfd; */
  /* color: #3a3053; */
  color: #fefcfd;
}
.bg-frontend {
  background-color: #27193a;
  color: #fefcfd;
}
.bg-sysadmin {
  background-color: #5f43b2;
  color: #fefcfd;
}
.bg-devops {
  background-color: #3a3053;
  color: #fefcfd;
}
.bg-nzanai {
  background-color: #0e163d;
  color: #5f43b2;
}

/* offcanvas css */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition: transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.nav-scroller .nav {
  color: rgba(255, 255, 255, 0.75);
}

.nav-scroller .nav-link {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  color: #6c757d;
}

.nav-scroller .nav-link:hover {
  color: #007bff;
}

.nav-scroller .active {
  font-weight: 500;
  color: #343a40;
}

.bg-purple {
  background-color: #6f42c1;
}

.bg-services {
  color: #ebebeb;
  background-color: #ce0411;
}
