.background1{
    background-image: url("../img/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.title{
    color:#4f0b42;
}
.titleMenu{
    color:#825a7a !important;
}

header{
    background: rgb(0,0,0);
    background: linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(60,38,88,1) 35%, rgba(253,212,232,1) 100%);
}
body{
    background: rgb(0,0,0);
    background: linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(60,38,88,1) 35%, rgba(0,0,0,1) 100%);
}

.header1{
    background: rgb(0,0,0);
    background: linear-gradient(47deg, rgba(0,0,0,1) 0%, rgba(60,38,88,1) 35%, rgba(253,212,232,1) 100%);
}